body {
    background: white; font-family:Arial, Helvetica, sans-serif
}

header {
    text-align: justify;
    height: 8em;
    padding: 2em 5%;
    background:white;

}



header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
}



@media screen and (max-width: 720px){



    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}





h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.box1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    border: 2px solid white;
    width: 900px;
}

.box2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    border: 2px solid white;
    width: 900px;
    padding-left: 500px;
}

.box3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    border: 2px solid white;
    width: 900px;
}


